.logo {
  background: #F4F2F2;

  p {
    line-height: 100px;
    margin-bottom: 0;
  }

  .logo__img {
    display: block;
    height: 100px;
    width: 100px;
    background: #C4C4C4;
    margin: 0 50px;
  }

  .logo__stp {
    font-size: 72px;
  }
}